.header{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(4, 4, 66);
    color: white;
    align-items: center;
    font-size: 25px;
    background-image: radial-gradient(#faebd7 0.8px, transparent 0.8px), radial-gradient(#faebd7 0.8px, #2c2f52 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}

.header  ul{
    display: flex;
    gap: 2rem;
}

.header li{
    list-style: none;

}

.header a{
        text-decoration: none;
        color: white;
}

.header a:hover{
    background-color: white;
    color: black;
}

.grid-container{
    margin: 8px;
    display:grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(5,auto);
    gap: 10px;
}

.grid-container div p{
    margin: 10px;
    font-size: 40px;
}

.grid-container div.border{
     border:5px solid tomato;
}
.grid-cointainer div p span{
    color: tomato;
}

.grid-container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease-in-out 0.5s;
}



@media (max-width: 768px) {
    .grid-container{
        grid-template-columns: auto auto;

    }
}


@media  screen and (max-width: 599px) {
    .header{
        font-size: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header div:first-child{
            margin-bottom: 5px;
        
    }
    .header div:nth-child(2){
        width: 100%;
    }

    .header ul{
        justify-content: space-between;
        padding: 0;
    }
    .header ul li{
        margin: 0;
    }
    .grid-container{
        grid-template-columns: auto;
        grid-template-rows: repeat(8, auto);

    }
    
}

